@tailwind base;
@tailwind components;
@tailwind utilities;

.menu-shadow {
    box-shadow: 0 4px 6px -1px var(--tw-shadow-color), 0px 2px 4px -5px var(--tw-shadow-color);
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: times new roman;
    font-style: normal;
    font-weight: 400;
    src: local('Times New Roman'), url(https://fonts.cdnfonts.com/s/57197/times.woff) format('woff')
}




html::-webkit-scrollbar {
    display: none;
}

html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.sc::-webkit-scrollbar {
    display: none;
}

.sc {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.desc::-webkit-scrollbar {
    display: none;
}

.desc {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.rating svg {
    color: #fff;
    fill: gold;

}

.sb::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.sb::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #f7f4ed;
}

.sb::-webkit-scrollbar-thumb {
    background: #e0cbcb;
    border-radius: 100vh;
    border: 3px solid #f6f7ed;
}

.sb::-webkit-scrollbar-thumb:hover {
    background: #c0a0b9;
}





.globe {
    width: 437px;
    height: 437px;
}



@keyframes globe {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.inner {
    animation-name: inner;
    animation-duration: 2s;
}

@media screen and (min-width: 1024px) {
    @keyframes inner {
        0% {
            width: 0px;
            height: 0px;
            opacity: .5;
        }

        50% {
            width: 700px;
            height: 700px;
        }

        100% {
            width: 590px;
            height: 590px;
            opacity: 1;
        }
    }
}

@media screen and (max-width: 1024px) {
    @keyframes inner {
        0% {
            width: 0px;
            height: 0px;
            opacity: .5;
        }

        50% {
            width: 400px;
            height: 400px;
        }

        100% {
            width: 384px;
            height: 384x;
            opacity: 1;
        }
    }
}

.outer {
    animation-name: outer;
    animation-duration: 3s;
    width: 781px;
    height: 781px;
}



@keyframes outer {
    0% {
        width: 0px;
        height: 0px;
        opacity: .5;
    }

    50% {
        width: 900px;
        height: 900px;
    }

    100% {
        width: 781px;
        height: 781px;
        opacity: 1;
    }
}

.flag {
    animation-name: flag;
}

@keyframes flag {


    50% {
        width: 0px;
        height: 0px;
        opacity: 0;
    }

    100% {
        width: 190px;
        height: 57px;
        opacity: 1;
    }
}

.mobileflag {
    animation-name: mobileflag;
}

@keyframes mobileflag {
    0% {
        width: 0px;
        height: 0px;
        opacity: 0;
    }

    50% {
        width: 0px;
        height: 0px;
        opacity: 0;
    }

    100% {
        width: 40px;
        height: 40px;
        opacity: 1;
    }
}



.MuiSlider-track,
.MuiSlider-rail,
.MuiSlider-thumb {
    color: #F13353;
}

@keyframes map-animations {
    0% {
        width: 12px;
        height: 12px;
    }

    50% {
        width: 16px;
        height: 16px;
    }
    100% {
        width: 12px;
        height: 12px;
    }
}


.rotate-card{
    animation:  2s rotate-y ;
  }
  
  @keyframes rotate-y {
    0% {
      transform: rotatey(0deg);
    }
    50% {
      transform: rotatey(180deg);
    }
  
    100% {
      transform: rotatey(0deg);
    }
  }

  
@keyframes cardSwing {
    0% 
    {
      transform: rotate(00deg);
      }
    50% {
      transform: rotate(10deg);
    }
    
    100%{
      transform: rotate(0deg);
    }
  }